<!DOCTYPE html>
<htmtl>
    <head>
        <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    </head>

    <body>
    
        <button onclick="sendMessage()">invia messaggio</button>
        <h1></h1>
        <input type="text" class="msg">
        <script>
            //fai la connessione
            const socket = io("http://localhost:3001");
            socket.on("connection");

            socket.on("msg", (data) => 
            {
                document.querySelector('h1').innerHTML = data
            });

            const sendMessage = () => {
                datapass = document.querySelector('input');
                socket.emit("msg", datapass.value);
            }
        </script>
   
    </body>
</html>